<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style media="screen">
      .custom-checkbox {
        width: 18px;
        height: 18px;
        border: 1px solid #ccc;
      }
      .custom-checkbox.active {
        background: green;
      }
    </style>
</head>
<body>
    <div id="cart-page" style="width: 1000px;margin: 0 auto;">
      <div style="float: left; width: 50%">
        <product-list class=""
          v-for="product in productsList"
          :key="product.id"
          :product="product"
          @add-to-cart = "addToCartM"
        ></product-list>
      </div>
      <div style="float: left; width: 50%">
        <!--<shopping-list
          v-for="item in shoppingList"
          :key="item.id"
        ></shopping-list>-->
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
