<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style media="screen">
      *{
        box-sizing: border-box;
      }
      .text-center {
        text-align: center;
      }
      .columns-wrap {
        width: 1000px;
        margin: 0 auto;
      }
      .left-column {
        float: left;
        width: 50%;
        padding-right: 20px;
      }
      .right-column {
        float: left;
        width: 50%
      }
    </style>
</head>
<body>
    <div id="cart-page" class="columns-wrap">
      <div class="left-column">
        <h2>List of products</h2>
        <product-list
          v-for="product in productsList"
          :key="product.id"
          :product="product"
          @add-to-cart = "addToCartM"
        ></product-list>
      </div>
      <div class="right-column">
        <h2 class="text-center">Cart (<cart-counter v-bind:props-list="shoppingList"></cart-counter>)</h2>
        <shopping-list
          v-for="item in shoppingList"
          :key="item.id"
          :item="item"
          @add-to-cart = "addToCartM"
          @remove-to-cart = "removeToCartM"
        ></shopping-list>
        <total-line v-bind:props-list="shoppingList"></total-line>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
