<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="todo">
      <div>
        <input type="text" name="" value="" v-model="textNewTask">
        <button type="button" name="button" @click="addTask">Add</button>
      </div>
      <div class="">
        <ul>
          <one-item v-for="(task, index) in taskList"
            :key="index"
            @edit = "editTask(index, $event)"
            v-bind:complited = "task.status"
            v-bind:text = "task.text"
            v-on:remove = "taskList.splice(index, 1)"
          ></one-item>
        </ul>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      Vue.component('oneItem', {
        props: ["text", "complited"],
        data: function(){
          return {
            isEdit: false,
            newText: ''
          }
        },
        template: ` \
          <li> \
            <input type="checkbox" v-model="complited">
            <input v-if="isEdit" type="text" v-model="newText"> \
            <span  v-else>{{ text }}</span> \
            <button @click="$emit(\'remove\')">X</button> \
            <button @click="edit">E</button> \
          </li>`,
        methods: {
          edit: function() {
            if (this.isEdit){
              this.isEdit = false;
              this.$emit('edit', this.newText);
            } else {
              this.isEdit = true;
              this.newText = this.text;
            }
          }
        }
      });

      var todo = new Vue({
        el: "#todo",
        data: {
          textNewTask: "",
          taskList: []
        },
        created: function() {
          taskList: {
            if (undefined == localStorage.getItem('taskList')) {
              localStorage.setItem('taskList', JSON.stringify([]));
            }
            this.taskList = JSON.parse(localStorage.getItem('taskList'));
          }
        },
        watch: {
          taskList: function() {
            localStorage.setItem('taskList', JSON.stringify(this.taskList));
          }
        },
        methods: {
          addTask: function() {
            this.taskList.push({ "text": this.textNewTask, "status": false });
            this.textNewTask = "";
          },
          editTask: function(index, val) {
            this.$set(this.taskList, index, Object.assign(this.taskList[index], {text: val}));
          },
          changeStatus: function(index, val){
            this.$set(this.taskList, index, Object.assign(this.taskList[index], {status: val}));
          }
        }
      });
    </script>
</body>
</html>
