/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset.css */
* {
	box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.text-center {
	text-align: center;
}
h2 {
	font-size: 30px;
	margin-bottom: 20px;
}
h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

b {
	font-weight: 700;
}
.btn {
	padding: 8px 15px;
	margin-left: 10px;
	font-size: 16px;
	cursor: pointer;
	font-weight: 700;
	border: none;
	border-radius: 5px;
}
.btn.btn-primary {
	background: #009ab1;
	color: #fff;
}
.btn.btn-primary:hover{
	background: #00b7d2;
}

body {
  font-family: 'Lato', sans-serif;
}

.cart-wrap {
  max-width: 900px;
  margin: 0 auto;
}

.left-cart {
  width: 60%;
  float: left;
	padding-right: 30px;
}

.right-cart {
  width: 40%;
  float: left;
	background: #f8f8f8;
	padding: 20px;
}
.shopping-cart-wrap > div:not(.total-line-wrap) {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
.shopping-cart-wrap .product-name {
	float: left;
}
.shopping-cart-wrap .product-price {
}
.shopping-cart-wrap .product-quantity {
	text-align: right;
	display: inline-block;
}
.shopping-cart-wrap .buttons-wrap {
	display: inline-block;
	padding-right: 5px;
	padding-top: 8px;
}
.shopping-cart-wrap .buttons-wrap button {
    background: transparent;
    border: 2px solid #009ab1;
    color: #009ab1;
    border-radius: 4px;
}
.shopping-cart-wrap .product-price {
	text-align: right;
}
.shopping-cart-wrap .total-line-wrap {
	padding-top: 10px;
}
.shopping-cart-wrap .total-line-wrap div:first-child {
	float: left;
}
.shopping-cart-wrap .total-line-wrap .total-line {
	text-align: right;
}
.list-product-line {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.product-desc {
	margin-bottom: 14px;
}
